@page "/"

@using Radzen.Blazor
@using Data
@using Radzen;
@using System.Diagnostics;
@inject IJSRuntime JS
@inject NotificationService NotificationService

<PageTitle>Form</PageTitle>

<RadzenStack Gap="30px" Orientation="Radzen.Orientation.Vertical">
    <RadzenStack Gap="5px">
        <h1 style="text-align:center">Registrazione Squadra Green Volley</h1>
        <h4 style="text-align:center">Borg in Fiesta</h4>
    </RadzenStack>

    <RadzenStack Gap="3px">
        <RadzenText TextStyle="TextStyle.Subtitle2" >Nome Squadra</RadzenText>
        <RadzenTextBox Style="width:auto" @bind-Value=teamName/>
    </RadzenStack>

    <RadzenStack Gap="3px">
        <RadzenText TextStyle="TextStyle.Subtitle2">Numero Atleti</RadzenText>
        <RadzenNumeric Min="4" Max="6" Style="width:auto" TValue="int" @bind-Value="nAthletes" Change=@(_ => NumericUpdated())/>
    </RadzenStack>

    <RadzenDataGrid @ref="dataGrid" TItem="Athlete" EditMode="Radzen.DataGridEditMode.Single" Data="athletes" RowUpdate="@OnUpdateRow">
        <Columns>
            <RadzenDataGridColumn TItem="Athlete" Property="Cognome" Title="COGNOME">
                <EditTemplate Context="athlete">
                    <RadzenTextBox @bind-Value="athlete.Cognome" Style="width:100%; display: block" Name="Cognome" />
                    <RadzenRequiredValidator Text="Il cognome deve essere inserito" Component="Cognome" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Athlete" Property="Nome" Title="NOME">
                <EditTemplate Context="athlete">
                    <RadzenTextBox @bind-Value="athlete.Nome" Style="width:100%; display: block" Name="Nome" />
                    <RadzenRequiredValidator Text="Il nome deve essere inserito" Component="Nome" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Athlete" Property="DataDiNascita" Title="DATA DI NASCITA">
                <EditTemplate Context="athlete">
                    <RadzenTextBox @bind-Value="athlete.DataDiNascita" Style="width:100%; display: block" Name="DataDiNascita" />
                    <RadzenRequiredValidator Text="La data di nascita deve essere inserita" Component="DataDiNascita" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Athlete" Property="TagliaMaglia" Title="TAGLIA MAGLIA">
                <EditTemplate Context="athlete">
                    <RadzenTextBox @bind-Value="athlete.TagliaMaglia" Style="width:100%; display: block" Name="TagliaMaglia" />
                    <RadzenRequiredValidator Text="La taglia della maglia deve essere inserita" Component="TagliaMaglia" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Athlete" Context="athlete" Width="60px">
                <Template Context="athlete">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(athlete))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="athlete">
                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(athlete))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

    <RadzenStack Gap="5px">
        <RadzenText TextStyle="TextStyle.H4">Dati Responsabile Squadra</RadzenText>
        <RadzenRow>
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Nome e Cognome</RadzenText>
                <RadzenTextBox @bind-Value=@nomecognomeResp/>
            </RadzenCard>
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Numero di Telefono</RadzenText>
                <RadzenTextBox @bind-Value=@numeroResp />
            </RadzenCard>
        </RadzenRow>
    </RadzenStack>

    <RadzenCard>
        <RadzenCard>
            <RadzenText TextStyle="TextStyle.H5">Modulo per Atleti Minorenni</RadzenText>
            <RadzenLink Path="https://drive.google.com//file//d//1Fzb6gwbqwiLLi-HTgge-mjR3eB5sEOPA//view?usp=share_link" target="_blank">
                <RadzenButton Text="Download"/>
            </RadzenLink>
        </RadzenCard>
        <RadzenCard>
            <RadzenText TextStyle="TextStyle.H5">Regolamento</RadzenText>
            <RadzenLink Path="https://drive.google.com/file/d/11yx0xywcKpYKyQ7tTTZee9_aNhbIaLZA/view?usp=sharing" target="_blank">
                <RadzenButton Text="Download" />
            </RadzenLink>
        </RadzenCard>
        <RadzenCard>
            <RadzenText TextStyle="TextStyle.H5">Modulo Autodichiarazione Salute</RadzenText>
            <RadzenLink Path="https://drive.google.com/file/d/1G935ntz-YH5x10CAbS1G_4MX7_Rlp_xh/view?usp=sharing" target="_blank">
                <RadzenButton Text="Download" />
            </RadzenLink>
        </RadzenCard>
        <InputFile OnChange="HandleFileUpload" />
    </RadzenCard>

    <RadzenButton Style="align-self:end" Click="ConfirmForm">INVIA</RadzenButton>

</RadzenStack>


@code {
    string teamName = string.Empty;
    string nomecognomeResp = string.Empty;
    string numeroResp = string.Empty;
    List<IBrowserFile> autorizzazioneMinori = new();

    int nAthletes = 4;
    List<Athlete> athletes = new List<Athlete>();

    Athlete rowToUpdate;

    RadzenDataGrid<Athlete> dataGrid;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        while (athletes.Count < nAthletes)
        {
            athletes.Add(new Athlete());
        }
    }

    async Task NumericUpdated()
    {
        if (athletes.Count < nAthletes)
        {
            while(athletes.Count < nAthletes)
            {
                athletes.Add(new Athlete());
            }
        }
        else
        {
            while(athletes.Count > nAthletes)
            {
                athletes.RemoveAt(athletes.Count - 1);
            }
        }
        await dataGrid.Reload();
    }

    async Task EditRow(Athlete athlete)
    {
        rowToUpdate = athlete;
        await dataGrid.EditRow(athlete);
    }

    void OnUpdateRow(Athlete athlete)
    {
        int index = athletes.IndexOf(rowToUpdate);
        rowToUpdate = null;
        athletes[index] = athlete;
    }

    async Task SaveRow(Athlete athlete)
    {
        await dataGrid.UpdateRow(athlete);
    }

    //async Task DownloadUnderageClick()
    //{
    //    var fileName = "https://drive.google.com//file//d//1Fzb6gwbqwiLLi-HTgge-mjR3eB5sEOPA//view?usp=share_link";
    //    NavigationManager.NavigateTo(fileName, true);
    //}

    //async Task DownloadRulesClick()
    //{
    //    var fileName = "https://drive.google.com/file/d/11yx0xywcKpYKyQ7tTTZee9_aNhbIaLZA/view?usp=sharing";
    //    NavigationManager.NavigateTo(fileName, true);
    //}

    //async Task DownloadStatusClick()
    //{
    //    var fileName = "https://drive.google.com/file/d/1G935ntz-YH5x10CAbS1G_4MX7_Rlp_xh/view?usp=sharing";
    //    NavigationManager.NavigateTo(fileName, true);
    //}

    async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        autorizzazioneMinori = e.GetMultipleFiles().ToList();
        NotificationService.Notify(NotificationSeverity.Success, "File caricato!", "File caricato con successo. Adesso puoi confermare la registazione.");
    }

    async Task ConfirmForm()
    {
        ToBeExported export = new (teamName, athletes, nomecognomeResp, numeroResp, autorizzazioneMinori);
        NotificationService.Notify(NotificationSeverity.Info, "Registrazione in esecuzione", "La tua registrazione sta venendo processata, se non vedi la conferma fra pochi secondi assicurati di aver caricato tutto correttamente");
        ExportToPdf.CreatePdfAsync(export);
        NotificationService.Notify(NotificationSeverity.Success, "Registrazione effettuata", "Registrazione effettuata con successo! Grazie per la partecipazione");
    }
}
